.btn {
  margin-bottom: 10px;
  width: 100px;
  height: 36px;
}

@media (max-width: 768px) {
  #lblComment {
    display: none;
  }
}

.sin_comentarios {
  font-size: 30px;
  text-align: justify;
  justify-content: center;
  display: flex;
}

.input_comentario {
  height: 250px;
}

.input_comentario input {
  height: 65%;
}
