@media (min-width: 960px) {
  #img-peli {
    margin: 30px;
  }

  #content-peli {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 1140px) {
  #content-peli {
    margin-top: 70px;
  }
}

@media (max-width: 992px) {
  #TextAno {
    width: 300px;
    margin-right: 10px;
  }
}
